[submodule "win_libs/SDL"]
	path = win_libs/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.30.x
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui
